# General
HELP.md
*.log

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Temporary files
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp

# Dependency directories
/node_modules/

.idea

